<template>
  <div class="home-page">
    <div class="banner">
    </div>
    <div class="container page">
      <div class="row">
        <div class="col-md-9">
          <input v-model="url" placeholder="Input API url here!" style="width: 100%; margin-bottom: 10px;"/>
          <button @click="LoadData">Load Data</button>
          <br>
          API: <u>{{url}}</u> <hr/>
          Results:<template v-if="clementData"> {{clementData}}</template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from 'axios'
import RwvTag from "@/components/VTag";
import { FETCH_TAGS } from "@/store/actions.type";

export default {
  name: "home",
  components: {
    RwvTag
  },
  data(){
    return {
      url: "",
      clementData: null
    }

  },
  methods:{
    async LoadData(){
      this.clementData = 'loading...'
      axios.get(this.url)
      .then((res) => {
        console.log(res)
        this.clementData = res.data
      })
      .catch((error) => {
        console.log(error, error.response)
        this.clementData = error;
      })
    }
  },
  mounted() {
    this.$store.dispatch(FETCH_TAGS);
  },
  computed: {
    ...mapGetters(["isAuthenticated", "tags"]),
    tag() {
      return this.$route.params.tag;
    }
  }
};
</script>
