<template>
  <div class="home-page">
    <div class="banner">
    </div>
    <div class="container page">
      <div class="row">
        <div class="col-md-9">
          <input v-model="url" placeholder="Input API url here!" style="width: 100%; margin-bottom: 10px;"/>
          <button @click="LoadData">Load Data</button>
          <br>
          API: <u>{{url}}</u> <hr/>
          Results:<template v-if="clementData"> {{clementData}}</template>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr class="mt-5">
          <h1>GET DATA</h1>
        </div>
        <div class="col-md-9">
          <input v-model="post_url" placeholder="Input POST API url here!" style="width: 100%; margin-bottom: 10px;"/>
          <input v-model="auth_token" placeholder="Token" style="width: 100%; margin-bottom: 10px;"/>
          <!-- <textarea v-model="postInputData" placeholder="Post data JSON" style="width: 100%; margin-bottom: 10px;"></textarea> -->
          <button @click="LoadPostData">Load Data</button>
          <br>
          API: <u>{{post_url}}</u> <hr/>
          Results:<template v-if="postResponseData"> {{postResponseData}}</template>
        </div>
      </div>
    </div>
    <!-- <HomePost /> -->
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from 'axios'
import RwvTag from "@/components/VTag";
import { FETCH_TAGS } from "@/store/actions.type";

export default {
  name: "home",
  components: {
    RwvTag
  },
  data(){
    return {
      url: "",
      post_url: "http://165.22.82.105:7000/zion/address",
      auth_token: "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxNDcyNThAcXEuY29tIiwiaWF0IjoxNjA0NTI3MzQzLCJleHAiOjE2MDYyNTUzNDN9.BIwKfWd0cXVNALerWgtW7A3txnXVDoJgKhCwr_QPyrXhCV63HaEpHR1ET2VbmzDmT_A3PQ-5rHo4dqi1L-p2Eg",
      clementData: null,

      postInputData: null,
      postResponseData: null
    }

  },
  methods:{
    async LoadData(){
      this.clementData = 'loading...'
      axios.get(this.url)
      .then((res) => {
        console.log(res)
        this.clementData = res.data
      })
      .catch((error) => {
        console.log(error, error.response)
        this.clementData = error;
      })
    },
    async LoadPostData(){
      this.postResponseData = 'loading...'
      // JSON.parse(postResponseData),
      axios.get(this.post_url, {
      headers: {
        'Authorization': `Bearer ${this.auth_token}`
      }})
      .then((res) => {
        console.log(res)
        this.postResponseData = res.data
      })
      .catch((error) => {
        console.log(error, error.response)
        this.postResponseData = error;
      })
    }
  },
  mounted() {
    this.$store.dispatch(FETCH_TAGS);
  },
  computed: {
    ...mapGetters(["isAuthenticated", "tags"]),
    tag() {
      return this.$route.params.tag;
    }
  }
};
</script>
