<template>
  <div id="app">
    <!-- <RwvHeader /> -->
    <router-view></router-view>
    <!-- <RwvFooter /> -->
  </div>
</template>

<script>
import RwvHeader from "@/components/TheHeader";
import RwvFooter from "@/components/TheFooter";
export default {
  name: "App",
  components: {
    RwvHeader,
    RwvFooter
  },
  mounted(){

  }
};
</script>

<style></style>
